.map-container-6 {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	width: 800px;
	}
	.map-container-6 iframe {
	left:0;
	top:0;
	height:90%;
	width:90%;
	position:absolute;
	}

	.card {
		margin-left: 15px;
	}

	button {
		background: #4e5256;
		color: #fff;
		padding: 5px;
		border: 1px solid #4e5256;
	}

	.left {
		word-wrap: normal;
	}

	.col {
		margin-right: 15px;
	}

	.row span {
		margin-right: 5px;
	}